@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6fbff;
  --foreground: #020817;
  --50: #f6fbff;
  --100: #e7f3ff;
  --200: #bedfff;
  --300: #9ecfff;
  --400: #6bb6ff;
  --500: #2895ff;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
}
