@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6FBFF;
  --foreground: #020817;
  --50: #F6FBFF;
  --100: #E7F3FF;
  --200: #BEDFFF;
  --300: #9ECFFF;
  --400: #6BB6FF;
  --500: #2895FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
